<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Xcode.AlertEvents.4_1</key>
	<dict>
		<key>Xcode.AlertEvent.BuildFails</key>
		<dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.BuildNewIssues</key>
		<dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Issues</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.BuildStart</key>
		<dict/>
		<key>Xcode.AlertEvent.BuildSucceeds</key>
		<dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.FindCompletesNoResults</key>
		<dict/>
		<key>Xcode.AlertEvent.FindCompletesWithResults</key>
		<dict/>
		<key>Xcode.AlertEvent.RunCompletes</key>
		<dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>hideIfNoOutput</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.RunExitsUnexpectedly</key>
		<dict/>
		<key>Xcode.AlertEvent.RunGeneratesOutput</key>
		<dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.RunPauses</key>
		<dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<string>1</string>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Debug</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.RunStart</key>
		<dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>enabled</key>
				<string>0</string>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Debug</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.SharingCompletes</key>
		<dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.SharingFails</key>
		<dict/>
		<key>Xcode.AlertEvent.SharingStart</key>
		<dict/>
		<key>Xcode.AlertEvent.TestingFails</key>
		<dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.TestingNewIssues</key>
		<dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Issues</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.TestingStart</key>
		<dict/>
		<key>Xcode.AlertEvent.TestingPauses</key>
		<dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<string>1</string>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Debug</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.TestingSucceeds</key>
		<dict>
			<key>Xcode.Alert.Dialog</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Xcode.AlertEvent.OpenGLCaptureStarts</key>
		<dict>
			<key>Xcode.Alert.Dialog</key>
			<dict/>
			<key>enabled</key>
			<string>1</string>
		</dict>
		<key>Xcode.AlertEvent.OpenGLCaptureCompletes</key>
		<dict>
			<key>Xcode.Alert.ShowDebugger</key>
			<dict>
				<key>action</key>
				<string>show</string>
				<key>destination</key>
				<string>workspace</string>
				<key>enabled</key>
				<string>1</string>
				<key>visibility</key>
				<string>0</string>
			</dict>
			<key>Xcode.Alert.ShowEditor</key>
			<dict>
				<key>enabled</key>
				<true/>
				<key>action</key>
				<integer>0</integer>
				<key>visibility</key>
				<integer>2</integer>
			</dict>
			<key>Xcode.Alert.ShowNavigator</key>
			<dict>
				<key>enabled</key>
				<string>1</string>
				<key>navigator</key>
				<string>Xcode.IDEKit.Navigator.Debug</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
